<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#"><img id="logoHeader" src="../../../assets/logos/logo-72x72.png" alt="SigTuple"/></a>
      <ul class="navbar-nav mr-auto">       
        <li class="nav-item ">
          <a class="nav-link"  routerLink="/Shonit" routerLinkActive="active">Shonit</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" routerLink="/Aadi" routerLinkActive="active">Aadi</a>
        </li>      
        <li class="nav-item">
          <a class="nav-link" routerLink="/Shrava" routerLinkActive="active">Shrava</a>
        </li>
     </ul>    
  </div>
</nav>


